*{
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
.head-title{
    font-size: 175%;
    text-align: center;
    margin: 30px 0;
    font-weight: bold;
}
.box{
    width:31%;
    border: 1px solid black;
    padding: 50px 12px 12px;
    float: left;
    margin: 30px calc(5% / 6);
    position: relative;
    background-color: rgb(0, 131, 253);
    color: white;
    line-height: 1.5;
}
.box .title-1{
    background-color: #eb2f05db;
}
.box .title-2{
    background-color: #bf256c;
}
.box .title-3{
    background-color: #f587bf;
}
.box .title-1,
.box .title-2,
.box .title-3{
    position:absolute;
    top: 0;
    right: 0;
    width: 30%;
    border: solid black;
    border-width: 0 0 1px 1px;
    font-size: 125%;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}
@media (min-width:768px) and (max-width:991px){
    .box{
        width: 47%;
        margin: 30px calc(6% / 4);
    }
    #last{
        width: 97%;
        margin: 0 calc(3% / 2);
    }
}
@media (max-width:767px){
    .box{
        width: 100%;
        margin: 10px ;
    }
}